//
// background
// --------------------------------------------------
*{
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
    display: block;

}
body{
    background: rgba(110, 170, 103, 0.56) url(../assets/img/backgroud.jpg)  no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;

}
